body{
  font-size: fontsizedefault;
  color: fontcolordefault;
}

.fullscreenicon,.fullscreenicon2,.closericon{
  height: thumb.2height;
  width: thumb.2width;
  cursor: pointer;
  display: inline-block;
  margin:2px;
  margin-left:8px;
  max-width: 30px!important;
}
.sliderimageinput,.slidertableinput, .slidertablefont {
     -webkit-appearance: none;
     accent-color: gray;
     display: inline-block!important;
     min-width: 100px!important;
     height: 5px;
     border-radius: 5px;
     margin: 0 auto;
    /* transform: rotate(-90deg);
    */
    /* Safari -webkit-transform: rotate(-90deg);
    */
    /* Firefox -moz-transform: rotate(-90deg);
    */
    /* Opera -o-transform: rotate(-90deg);
     */
    /* IE -ms-transform: rotate(-90deg);
    */
}
 input[type="range"]::-webkit-slider-thumb:active {
     zoom: 1.1;
     transform: scale(1.1);
}
 input[type=range]::-moz-range-thumb:active {
     zoom: 1.1;
     transform: scale(1.1);
}
 input[type=range] {
     -webkit-appearance: none;
     margin: 0;
     border: 15px solid #f5f5f5;
     width: line.width;
     margin-right:5px;
     display:inline-block;
}
 input[type=range]:focus {
     outline: none;
}
 input[type=range]::-webkit-slider-runnable-track {
     width: line.width;
     height: line.height;
     cursor: pointer;
     box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
     background: #cfae7c;
     border-radius: 25px;
     border: 0px solid #000101;
}
 input[type=range]::-webkit-slider-thumb {
     box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
     border: 0px solid #000000;
     height: thumb.height;
     width: thumb.width;
     border-radius: 50%;
     background: gray;
     cursor: pointer;
     -webkit-appearance: none;
     margin-top: -7px;
}
 input[type=range]:focus::-webkit-slider-runnable-track {
     background: #cfae7c;
}
 input[type=range]::-moz-range-track {
     width: line.width;
     height: line.height;
     cursor: pointer;
     animate: 0.2s;
     box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
     background: #cfae7c;
     border-radius: 25px;
     border: 0px solid #000101;
}
 input[type=range]::-moz-range-thumb {
     box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
     border: 0px solid #000000;
     height: thumb.height;
     width: thumb.width;
     border-radius: 50%;
     background: gray;
     cursor: pointer;
}
 input[type=range]::-ms-track {
     width: line.width;
     height: line.height;
     cursor: pointer;
     animate: 0.2s;
     background: transparent;
     border-color: transparent;
     border-width: 39px 0;
     color: transparent;
}
 input[type=range]::-ms-fill-lower {
     background: #cfae7c;
     border: 0px solid #000101;
     border-radius: 50px;
     box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
 input[type=range]::-ms-fill-upper {
     background: #cfae7c;
     border: 0px solid #000101;
     border-radius: 50px;
     box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
 input[type=range]::-ms-thumb {
     box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
     border: 0px solid #000000;
     height: thumb.height;
     width: thumb.width;
     border-radius: 7px;
     background: gray;
     cursor: pointer;
}
 input[type=range]:focus::-ms-fill-lower {
     background: #cfae7c;
}
 input[type=range]:focus::-ms-fill-upper {
     background: #cfae7c;
}
 .slidertableinput, .slidertablefont {
     width: 100%!important;
     margin-right:5px;
     display: inline-block;
}
 .d-flex{
     display: flex;
}
 .slidertable {
     border-collapse: collapse;
     margin: 25px 0;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
 .slidertable th, .slidertable td {
     padding: 12px 15px;
}
 .slidertable tbody tr, .slidertable tr {
     border-bottom: 1px solid #dddddd;
}
 .slidertable tbody tr:nth-of-type(even), .slidertable tr:nth-of-type(even) {
     background-color: #f3f3f3;
}
 .slidertable tbody tr:last-of-type, .slidertable tr:last-of-type {
     border-bottom: 2px solid gray;
}
 .slidertable thead tr, .slidertable > tr {
     background-color: gray;
     color: #ffffff;
     text-align: left;
}
 .font-weight-bold{
    font-weight:bold!important;
}


.closed{
  display: none;
}

#r2resizeexpanddisplayer {
  position:fixed;top:0px;left:0px;
  z-index:100;background:#fff;
  padding:20px;
  overflow: auto;
}
.fullscreenicon2,.closericon{
  margin-top: 20px;
}
